* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e3edf7;
}

h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif sans-serif;
  font-size: 25px;
  font-weight: 100;
  padding: 100px 0 100px;
}
.socal-media {
  display: flex;
  justify-content: center;
}
a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3edf7;
  width: 75px;
  height: 75px;
  margin: 0 15px;
  border-radius: 5px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition: 0.5s;
}
a i {
  font-size: 30px;
  color: #777;
  transition: 0.5s;
}
a:hover {
  box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    inset -6px -6px 10px -1px rgba(255, 255, 255, 0.5);
  transform: translateY(2px);
}

a:hover i {
  transform: scale(0.9);
}

a:hover .fa-facebook {
  color: #3b5998;
}

a:hover .fa-linkedin {
  color: #3b5998;
}

a:hover .fa-youtube {
  color: #f00;
}

a:hover .fa-instagram {
  color: #f14843;
}

a:hover .fa-twitter {
  color: #00acee;
}
